{% extends 'DisplayBundle::layout.html.twig' %}

{% block body %}
    {% verbatim %}
        <div id="app">
            {{ message }}
        </div>
    {% endverbatim %}
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src="/js/bundle.js"></script>
{% endblock %}